<div class="jumbotron center">
	<h1>Welcome to my app</h1>
	<br>
	<p>
		<%= link_to "Sign Up", "http://www.artwaddle.com", class: "btn btn-primary btn-lg" %>
		<%= link_to "Log In", "http://www.artwaddle.com", class: "btn btn-default btn-lg" %>
	</p>
</div>